.greeting {
  background-color: var(--light-gray-bg-color);
  padding: 100px 0;
}

.greeting-img-wrapper{
  width: 70%;
  height: 100%;
  margin: 0 auto;

}

.greeting-article{
  text-align: center;
  padding: 30px 10px 0;
}

.greeting-heading-margins {
  margin-bottom: 30px;
}

.greeting-btn-margins {
  margin-top: 30px;
}

@media screen and (min-width:992px) {
  .greeting-img-wrapper{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .greeting-article {
    text-align: left;
    padding: 0;
  }

  .greeting-heading-margins {
    margin-bottom: 60px;
  }
