.microsoft {
  padding: 70px 0;
  height: 120px;
  width: 100%;
  margin-bottom: 95px;
}

.logo-microsoft {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

