.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}


.my-skills {
  padding: 20px;
}

.my-skills-article {
  margin-top: 100px;
}

.text1 {
  padding: 20px;
}

.text1::before,
.text1::after {
content: '';
display: block;
height: 4px;
position: absolute;
}

::before {
  background-color: var(--accent-color);
  width: 350px;
  margin-top: 40px;
}

::after {
  background-color: var(--progress-bg-color);
  width: 100px;
  margin-left: 350px;
  margin-top: 14px;
}

.img-my-skills {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}